/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  width: 1249px;
  margin: auto;
}


.searchSort {
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
}
.sortflex {
  display: flex;
  padding-right: 20px;
  justify-content: space-evenly;
}

.msgbox {
  width: inherit;
  height: 60px;
  left: 116px;
  top: 209px;
  background: #FFF4EA;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.msg{
  flex-direction: row;
  display: flex;
}

.template {
  width: 358px;
  height: 229px;
  border: black;
  position: relative;
}

.templates{
  max-width: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
}

.templateHeader {
  display: flex;
  justify-content: space-between;
}

p.head {
font-family: Inter;
font-style: normal;
font-weight: 500;
line-height: 30px;
color: #333447;
}

p.templateBody {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Neutral 2 */

color: #3F3E3E;
}

.grey-footer {
  background: #F9F9F9;
  position: absolute;
  top: 165px;
  padding-top: 10px;
}

.footer-text {
  font-family: Inter;
font-style: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height */

/* Shade 6 */

color: #08BD37;
}

@media only screen and (max-wdith: 768px) {
  .container {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .templates {
    max-width: inherit;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-wdith: 640px) {
  .container {
    width: auto !important; 
    padding-right: 20px;
    padding-left: 20px;
  }
  .templates {
    flex-wrap: wrap;
    justify-content: center;
  }
}